# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/
build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*

# Local env files
.env
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Uploads (optional - remove if you want to commit uploads)
public/uploads/*
!public/uploads/.gitkeep
